
@{
    Layout = null;
}
@model OnlineShop.AccessData.ViewModel.CategoryViewModel


<!-- Modal for create -->
<script>

    //$(document).on("click", "#btn-create", function () {
    //    showLoadingScreen();
    //    var url = $('#myModal-create').data('url');
    //    var name = $("input[name=name]").val();
    //    var description = $("input[name=description]").val();
    //    var model = { Name: name, Description: description };
    //    //$.post(url, function (data) {
    //    //    $('#myModal-create').html("");
    //    //    $('#myModal-create').html(data);
    //    //    $('#myModal-create').modal('show');
    //    //});
    //    $.post(url, { model: model })
    //        .done(function (data) {
    //            hideLoadingScreen();
    //            $('#myModal-create').html("");
    //            $('#myModal-create').html(data);
    //            $('#myModal-create').modal('show');
    //        });
    //});

    $(document).on("click", "#btn-create", function () {
 
    });
    function OnSuccess(data) {
        if (data.status == true) {
            $.ajax({
                url: '/admin/category/_PartialCategory',
                data: {
                },
                beforeSend: function () {
                    showLoadingScreen();
                },
                success: function (res) {
                    hideLoadingScreen();
                    $('.partial-view').html(res);
                    alertModalMini("Thêm thành công", "success");
                },
                error: function () {
                    alertModalMini("Đã có lỗi xảy ra ", "error");
                }
            })
            $("#myModal-create").modal("hide");
        } 
    }  
</script>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Create Category</h4>
        </div>
        <div class="modal-body">
            @using (Ajax.BeginForm("_PartialCreate", "Category", new AjaxOptions { HttpMethod = "post", UpdateTargetId = "myModal-create",OnSuccess= "OnSuccess" },
                new { @id = "validate", @enctype = "multipart/form-data" }))
            {
                HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
                @Html.AntiForgeryToken()

                <div class="form-horizontal align-left">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @id = "name", @maxlength = 50 } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "col-md-2" })
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.Description, new { @id = "Description", @class = "col-md-12" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="file" class="col-md-2">File Image</label>
                        <div class="col-md-10">
                            <input type="file" name="file" id="file" accept="image/*" />
                            @Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger" })
                            <img src="" id="imageUpload" width="580" height="337" style="display:none" class="img-responsive1" onerror="this.onerror = null; this.src = '/Content/layoutUser/images/default-image.jpg';" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Parent</label>
                        <div class="col-md-9">
                            @Html.DropDownList("parent", null, htmlAttributes: new { @name = "categoryID", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ParentID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <script>
                        CKEDITOR.replace('Description', {

                        });
                    </script>
                    <div class="col-sm-offset-2">
                        <button id="btn-create" type="submit" class="btn btn-primary">Create</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </div>

            }

        </div>
    </div>
</div>
